@media (prefers-color-scheme: light) {
    :root {
        --background: #F2F2F2;
        --text-color: #222222;
        --card-background: #EEEEEE;
        --card-header-background: #3A3A3A;
        --card-header-border: #3A3A3A;
        --card-header-color: #F2F2F2;
        --card-border: #BBBBBB;
        --button-background: #EEEEEE;
        --button-active-background: #DDDDDD;
        --button-inactive-color: #BBBBBB;
        --button-border: #BBBBBB;
        --made-by-color: #888888;
        --link-color: #1e88e5;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #282828;
        --text-color: #F2F2F2;
        --card-background: #333333;
        --card-header-background: #1C1C1C;
        --card-header-border: #1C1C1C;
        --card-header-color: #F2F2F2;
        --card-border: #1A1A1A;
        --button-background: #333333;
        --button-active-background: #404040;
        --button-inactive-color: #888888;
        --button-border: #1A1A1A;
        --made-by-color: #888888;
        --link-color: #42a5f5;
    }
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    background-color: var(--background);
    color: var(--text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-weight: 400;
}

button {
    background-color: var(--button-background);
    color: var(--text-color);
    border: solid 1px;
    border-radius: 0.3em;
    border-color: var(--button-border)
}

button:hover {
    background-color: var(--button-active-background);
}

button:disabled {
    background-color: var(--button-background);
    color: var(--button-inactive-color);
}

.button-holder {
    display: flex;
    gap: 0.3em;
    justify-content: center;
}

.version-button {
    padding: 0.6em;
    user-select: none;
}

#spinner-holder {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#version-holder {
    --columns: 2;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: 0.6em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#version-holder.threecolumns {
    --columns: 3;
}

#version-holder a:link, #version-holder a:visited {
    color: var(--link-color);
}

.version-box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.version-box.curseforge {
    grid-column-end: span var(--columns);
}

.card-header {
    padding: 0.6em 0.6em 0.4em;
    background-color: var(--card-header-background);
    color: var(--card-header-color);
    border-radius: 0.3em 0.3em 0 0;
    font-weight: 600;
    border: solid 0.1em;
    border-color: var(--card-header-border) var(--card-header-border) transparent;
    border-bottom-width: 0.4ex;
}

.curseforge .card-header {
    border-bottom-color: #ef6c00;
}

.modrinth .card-header {
    border-bottom-color: #00c853;
}

.version {
    padding: 0.3em 0.6em 0.6em;
    background-color: var(--card-background);
    border-radius: 0 0 0.3em 0.3em;
    border: solid 0.1em;
    border-color: transparent var(--card-border) var(--card-border);
}

.spinner {
    width: 0.5em;
    height: 0.5em;
    background-color: var(--text-color);
    border-radius: 50%;
    transform: translateX(-1.5em);

    animation-name: spinner;
    animation-duration: 400ms;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-iteration-count: infinite;
}

@keyframes spinner {
    from {
        transform: translateX(-1.5em);
    }

    to {
        transform: translateX(1.5em);
    }
}

.made-by {
    color: var(--made-by-color);
}

.tater {
    width: 1em;
    image-rendering: pixelated;
    transform: translateY(0.2em);
}

.made-by a {
    color: inherit;
}
